<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Settings</title>  

    {% load bootstrap4 %} {% bootstrap_css %}

</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>JUGADOR</th>
                <th>DPI</th>
                <th>SENSIBILIDAD</th>
                <th>JUEGO</th>
            </tr>
        </thead>
        <tbody>

            {% for sensibilidades_app in sensibilidades %}

            <tr>
                <td>{{sensibilidades_app.id}}</td>
                <td>{{sensibilidades_app.jugador}}</td>
                <td>{{sensibilidades_app.dpi}}</td>
                <td>{{sensibilidades_app.sensibilidad}}</td>
                <td>{{sensibilidades_app.juego}}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</body>
</html> 
